/* **************** */
/* Under 1245px */
/* *************** */
@media (max-width: 77.9em) {
  html {
    font-size: 68%;
  }

  .section-header,
  .section-features,
  .section-keep,
  .section-monitor,
  .section-access,
  .section-superchange,
  .section-logo,
  .section-clipboard,
  .section-footer,
  .section-monitor {
    width: 130rem;
    overflow-x: hidden;
  }
}

/* ***************** */
/* Under 1000px */
/* **************** */
@media (max-width: 62.5em) {
  p,
  .footer-link,
  .btn {
    font-size: 2.1rem;
  }
}

/* ***************** */
/* Under 850px */
/* **************** */
@media (max-width: 53.2em) {
  .section-header-mobile,
  .section-features,
  .section-keep,
  .section-monitor,
  .section-access,
  .section-superchange,
  .section-logo,
  .section-clipboard,
  .section-footer,
  .section-monitor {
    width: 85rem;
    overflow-x: hidden;
  }

  .section-header-mobile {
    background-image: url(images/bg-header-mobile.png);
    background-size: cover;
    padding-bottom: 3rem !important;
  }

  .monitor-mobile {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    width: 70rem;
    text-align: center;
    row-gap: 6.4rem;
  }

  .computer-img {
    transform: translate(0);
    text-align: center;
    width: 70rem;
  }

  .access-img {
    transform: translate(0rem);
    text-align: center;
    width: 70rem;
  }

  .features-mobile {
    grid-template-columns: 1fr;
    width: 70rem;
  }

  .logo-mobile {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 6.4rem;
    width: 70rem;
  }

  .logo-size {
    width: 15rem;
  }

  .footer-mobile {
    width: 70rem;
    column-gap: 2.6rem;
  }

  .footer-icons-mobile {
    gap: 1.6rem;
  }

  .footer-mobile {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 4.8rem;
  }

  .footer-flex {
    align-items: center;
    gap: 4.2rem;
  }

  .footer-icons-flex {
    gap: 1.4rem;
  }

  .footer-icon {
    font-size: 4rem;
  }

  .section-footer {
    padding-top: 7.8rem;
  }
}

/* ***************** */
/* Under 650px */
/* **************** */
@media (max-width: 40.6em) {
  .section-header-mobile,
  .section-features,
  .section-keep,
  .section-monitor,
  .section-access,
  .section-superchange,
  .section-logo,
  .section-clipboard,
  .section-footer,
  .section-monitor {
    width: 65rem;
    overflow-x: hidden;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 1.2rem;
  }

  .section-monitor {
    margin-bottom: 16.4rem;
  }

  .access-par {
    margin-bottom: 4.6rem !important;
  }

  .section-access,
  .section-features {
    margin-bottom: 12.8rem;
  }

  .btn-mobile {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  .monitor-mobile,
  .clipboard-mobile,
  .features-mobile,
  .logo-mobile,
  .footer-mobile {
    width: 60rem;
  }

  .computer-img {
    width: 50rem;
  }

  .access-img {
    width: 60rem;
  }

  .logo-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 6.4rem;
  }
}

/* ***************** */
/* Under 500px */
/* **************** */
@media (max-width: 31.25em) {
  p,
  .footer-link,
  .btn {
    font-size: 2.6rem;
  }
  h1,
  h2,
  h3 {
    line-height: 1.25;
    padding-bottom: 2.8rem;
  }

  h1 {
    font-size: 5.4rem;
  }

  h2 {
    font-size: 4.6rem;
  }

  h3 {
    font-size: 3.4rem;
  }

  .section-features {
    margin-top: 12.8rem;
  }

  .feature-icon {
    width: 5.2rem;
  }

  .features-mobile {
    row-gap: 7.6rem;
  }

  .logo-mobile {
    row-gap: 7.8rem;
  }

  .logo-size {
    width: 22rem;
  }
}
