/* *************** */
/* Section Header */
/* *************** */
.section-header {
  text-align: center;
  margin-bottom: 14.8rem;
  padding-top: 12.8rem;
  background-image: url(images/bg-header-desktop.png);
  background-size: cover;
}

.container-header {
  max-width: 70rem;
  margin: 0 auto;
}

.header-logo {
  /* transform: translateY(-25rem); */
  margin-bottom: 4.8rem;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.btn-martop {
  margin-top: 4.8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 20px;
  transition: all 0.3s;
}

.btn--green:hover,
.btn--green:active {
  cursor: pointer;
  background-color: hsla(171, 66%, 44%, 0.744);
}

.btn--blue:hover,
.btn--blue:active {
  cursor: pointer;
  background-color: hsla(233, 100%, 69%, 0.744);
}

.btn--green {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0rem 1.25rem 2rem 0rem hsla(171, 66%, 44%, 0.224);
}

.btn--blue {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0rem 1.25rem 2rem 0rem hsla(233, 100%, 69%, 0.224);
}

/* *************** */
/* Section Keep  */
/* *************** */
.section-keep {
  text-align: center;
  margin-bottom: 9.6rem;
}

/* *************** */
/* Section Monitor Image */
/* *************** */
.section-monitor {
  margin-bottom: 12.8rem;
}

.computer-img {
  transform: translateX(-20rem);
}

.monitor-par {
  padding-bottom: 4.8rem;
}

/* *************** */
/* Section Access */
/* *************** */
.section-access {
  text-align: center;
  margin-bottom: 4.8rem;
}

.access-par {
  margin-bottom: 9.6rem;
}

.access-img {
  transform: translateX(-10rem);
}

/* *************** */
/* Section Superchange */
/* *************** */
.section-superchange {
  text-align: center;
  margin-bottom: 7.4rem;
}

/* *************** */
/* Section Features */
/* *************** */
.section-features {
  /* text-align: center; */
  margin-bottom: 14.8rem;
}

.feature-icon {
  padding-bottom: 3.2rem;
}

/* *************** */
/* Section Logo */
/* *************** */
.section-logo {
  margin-bottom: 14.8rem;
}

/* *************** */
/* Section Clipboard */
/* *************** */
.section-clipboard {
  text-align: center;
  margin-bottom: 14.8rem;
}

/* *************** */
/* Section Footer */
/* *************** */
.section-footer {
  background-color: hsla(202, 11%, 66%, 0.205);
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
}

.footer-img {
  width: 6rem;
}

li {
  list-style: none;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  color: hsl(210, 10%, 33%);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  cursor: pointer;
  color: hsl(171, 66%, 44%);
}

.footer-icons {
  align-self: center;
}

.footer-icons-flex {
  display: flex;
  justify-content: space-around;
}

.footer-icon {
  font-size: 3.2rem;
}

.footer-icon-link:link,
.footer-icon-link:visited {
  color: hsl(210, 10%, 33%);
  display: block;
}

.footer-icon-link:hover,
.footer-icon-link:active {
  color: hsl(171, 66%, 44%);
  transition: all 0.3s;
}

/* *************** */
/* Section Footer attribution */
/* *************** */
.attribution {
  text-align: center;
  color: hsl(210, 10%, 33%);
}

.attribution-link:link,
.attribution-link:visited {
  color: hsl(171, 66%, 44%);
  text-decoration: none;
  transform: all 0.3s;
}

.attribution-link:hover,
.attribution-link:active {
  color: hsla(171, 66%, 44%, 0.785);
}

/* change */
