* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  color: hsl(201, 11%, 66%);
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* *************** */
/* Section Header */
/* *************** */
.section-header {
  text-align: center;
}

.container-header {
  max-width: 66rem;
  margin: 0 auto;
}

.bg-desktop {
  width: 100%;
  height: 100%;
}

.header-logo {
  /* transform: translateY(-25rem); */
  margin-bottom: 4.8rem;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.btn-martop {
  margin-top: 4.8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 20px;
}

.btn:hover,
.btn:active {
}

.btn--green {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0rem 1.25rem 2rem 0rem hsla(171, 66%, 44%, 0.224);
}

.btn--blue {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0rem 1.25rem 2rem 0rem hsla(233, 100%, 69%, 0.224);
}
